:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).actionBtn {
  border: none
}

:global(.ui.form) :global(.field).textarea {
  clear: none;
}

.buttons {
  display: flex;
}
